<div class="container mt-5">
  <form id="formulario" method="post" action="/addBoletas">
    <h2>
      <i class="fa-solid fa-circle-info"></i>
      Información del Cliente
    </h2>
    {{! Formulario de Numero de Identidad }}
    <div class="mb-3">
      <label for="dni" class="form-label">
        <i class="fa-solid fa-address-card"></i>
        Documento de Identidad:</label>
      <input
        name="numeroIdentidad"
        type="text"
        class="form-control"
        id="dni"
        placeholder="Numero de Identidad"
      />
      <div class="invalid-feedback">
        <i class="fas fa-times-circle"></i>
        DNI inválido
      </div>
    </div>
    {{! Imput de Nombre }}
    <div class="mb-3">
      <label for="nombre" class="form-label">
        <i class="fa-solid fa-user"></i>
        Nombres:
      </label>
      <input
        name="nombre"
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Nombre"
      />
      <div class="invalid-feedback">
        <i class="fas fa-times-circle"></i>
        Nombre inválido
      </div>
    </div>
    {{! Input de Apellido }}
    <div class="mb-3">
      <label for="apellido" class="form-label">
        <i class="fa-solid fa-user"></i>
        Apellidos:
      </label>
      <input
        name="apellido"
        type="text"
        class="form-control"
        id="apellido"
        placeholder="Apellido"
      />
      <div class="invalid-feedback">
        <i class="fas fa-times-circle"></i>
        Apellido inválido
      </div>
    </div>
    {{! Input de Telefono }}
    <div class="mb-3">
      <label for="telefono" class="form-label">
        <i class="fa-solid fa-phone"></i>
        Teléfono:</label>
      <input
        name="telefono"
        type="text"
        class="form-control"
        id="telefono"
        placeholder="Teléfono"
      />
      <div class="invalid-feedback">
        <i class="fas fa-times-circle"></i>
        Teléfono inválido
      </div>
    </div>
    {{! Parte del Formulario de Membresia }}
    <h2>
      <i class="fa-solid fa-clipboard-check"></i>
      Selección de Membresía
    </h2>
    <!-- Función para crear campos de formulario -->
    {{! Input  de Membresia }}
    <div class="mb-3">
      <label for="tipoMembresia" class="form-label">
        <i class="fa-solid fa-1"></i>
        Tipo de Membresía:</label>
      <select name="tipoMembresia" class="form-select" id="tipoMembresia">
        <option value="">Seleccione una Menbresia</option>
        {{#each membresia}}
          <option value="{{idmenbresia}}">{{descripcion}}</option>
        {{/each}}
      </select>
      <div class="invalid-feedback">
        <i class="fas fa-times-circle"></i>
        Seleccione una membresía válida
      </div>
    </div>
    {{!Input Fecha Inicio }}
    <div class="mb-3">
      <label for="fechaInicio" class="form-label">
        <i class="fa-solid fa-play"></i>
        Fecha de Inicio:</label>
      <input
        type="date"
        class="form-control"
        id="fechaInicio"
        name="fechaInicio"
      />
      <div class="invalid-feedback">
        <i class="fas fa-times-circle"></i>
        Fecha de inicio inválida
      </div>
    </div>
    {{! Input Metodo de Pago }}
    <div class="mb-3">
      <label for="metodoPago" class="form-label">
        <i class="fa-solid fa-cart-shopping"></i>
        Método de Pago:</label>
      <select name="metodoPago" class="form-select" id="metodoPago">
        <option value="">Selecciona un método de pago</option>
        {{#each metodoPago}}
          <option
            value="{{idmetodoPago}}"
          >{{idmetodoPago}}-{{tipoPago}}</option>
        {{/each}}
      </select>
      <div class="invalid-feedback">
        <i class="fas fa-times-circle"></i>
        Seleccione un método de pago válido
      </div>
    </div>

    {{! Input Total a Pagar }}
    <div class="mb-3">
      <label for="totalPagar" class="form-label">
        <i class="fa-solid fa-calculator"></i>
        Total a Pagar:</label>
      <input
        name="totalPago"
        type="text"
        class="form-control"
        id="totalPagar"
      />
    </div>
    {{! Monto Abonado }}
    <div class="mb-3">
      <label for="montoAbono" class="form-label">
        <i class="fa-solid fa-arrow-down-wide-short"></i>
        Monto Abonado:</label>
      <input
        name="montoAbonado"
        type="text"
        class="form-control"
        id="montoAbono"
      />
      <div class="invalid-feedback">
        <i class="fas fa-times-circle"></i>
        Monto abonado inválido
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-lg"
      id="enviarMembresiaBtn"
    >
      <i class="fa-solid fa-share"></i>
      Enviar
    </button>
  </form>
</div>