<div class="container mt-5">
    <h3 class="text-center text-uppercase p-2">Lista de Personas</h3>
    <div class="row">
        <div class="col-md-6 order-md-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar...">
                <button class="btn btn-primary" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    Buscar
                </button>
            </div>
        </div>
        <div class="col-md-6 order-md-1">
            <a href="/add" class="btn btn-success ">
            <i class="fa-solid fa-plus"></i>
            Agregar
            </a>
        </div>
    </div>
   {{#if clientes}}
            <table class="table table-sm align-middle">
                <thead>
                    <tr class="table-dark">
                        <th scope="col" class="col-1">#</th>
                        <th scope="col" class="col-2">DNI</th>
                        <th scope="col" class="col-3">Nombre Completo</th>
                        <th scope="col" class="col-3">Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each clientes}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{dniCliente}}</td>
                        <td>
                            <a href="/detalleCliente/{{idCliente}}" class="btn btn-light">
                                <i class="fa-solid fa-user"></i>
                                {{nombreCompleto}}
                            </a>
                        </td>
                        <td> 
                            <a class="btn btn-success" href="https://wa.me/+51{{telefono}}" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i>
                            {{telefono}}
                            </a>
                        </td>                        
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <div class="col-12 text-center">
                <div class="card" style="width: 350px;">
                    <div class="card-header">
                        <h3>Debes crear una persona</h3>
                    </div>
                    <div class="card-body">
                        <p>Presiona este botón para registrar a una persona en la aplicación.</p>
                        <a href="/add" class="btn btn-primary">Ir a crear</a>
                    </div>
                </div>
            </div>
            {{/if}}
        </tbody>
    </table>
</div>